@import url('https://fonts.googleapis.com/css2?family=Lato&family=Poppins:wght@300;500&display=swap');

/*----------------*/
body {
    background-color: #222222;
    color: rgb(255, 255, 255);
}

div {
    display: block;
}


a {
    text-decoration: none;
}


code {
    color: #e3e3e3;
    background-color: grey;
    opacity: 0.85;
    border-radius: 5px;
    padding: 1.5px;
}

li {
    margin-left: 10px;
}

html {
    scroll-behavior: smooth;
}

/*---------------------------*/
.container {
    font-family: 'Lato', sans-serif;
    font-size: 12px;
}

.header, .intro {
    font-weight: bold;
    text-align: center;

}

.highlight {
    color: yellow;
    text-decoration: none;
}

.theme-markdown {
    margin-left: 20%;
}


.dark-mode {
    background-color: #f0f0f05b;
    color: rgb(0, 0, 0);
}

.moon {
    width: 70px;
    height: 70px;
    position: relative;
    margin-left: 70%;
}

.darkMode-div {
    display: inline;
    align-items: center;
}

.aternos {
    background-image: linear-gradient(to right, cyan,white);
    border: none
}
.dedicatedmc {
    color: #fff;
    background-image: linear-gradient(135deg, #1c1e2f, #43aace);
    border: none;
}
.bloom {
    background-image: linear-gradient(to right, #f86e06,#f9b30f);
    border: none;
}

.aternos, .dedicatedmc, .bloom {
    padding: 5px;
    font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto;
    font-weight: bold;
    border-radius: 10px;
}

.section-scroll {
    height: 100vh;
    width: 15%;
    float: left;
    overflow: scroll;
    background-color:#222222;
    display: block;
    font-size: 10px;
    color: white;
    font-size: 12.5px;
}

.scroll-header {
    margin-left: 25px;
    margin-top: 15px; 
}

.doc-overview:hover {
    text-decoration: underline;
    
}

.doc-overview {
    color: white;

}

/* width */
::-webkit-scrollbar {
    width: 15px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: rgb(87, 87, 87);
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(121, 121, 121);
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(161, 161, 161);
  }



